# {{ ansible_managed }}
# Sudo grant for {{ item.name }} ({{ item.comment | default('no description') }})
{% if users_sudo_nopasswd | bool %}
{{ item.name }} ALL=(ALL) NOPASSWD: ALL
{% else %}
{{ item.name }} ALL=(ALL) ALL
{% endif %}
