# {{ ansible_managed }}
[Unit]
Description=Prometheus Node Exporter (Acme)
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
ExecStart=/usr/local/bin/node_exporter \
    --web.listen-address=:{{ node_exporter_port }} \
    --collector.systemd \
    --collector.filesystem.mount-points-exclude="^/(dev|proc|sys|run|var/lib/docker)($|/)"
Restart=on-failure
RestartSec=5

# Hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
